.blog {
  width: 80%;
}
.App {
  display: flex;
  padding: 2%;
}
.blogSnips {
  display: flex;
  flex-direction: column;
}
.blogSnipsContainer {
  /* display: flex; */
  /* flex-wrap: wrap; */
}
.blogSnip:hover {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
}
.blogSnip {
  display: flex;
  align-items: center;
  margin-bottom: 2% 0;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.blogImage img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.blogInfo {
  flex: 1;
}

.blogTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.blogDate {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.blogDescription {
  margin-bottom: 10px;
}

.readMoreButton {
  color: #05afc2;
  border-radius: 5px;
  padding: 5px 5px 5px 0px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.readMoreButton:hover {
  color: rgb(108, 234, 108);
  cursor: pointer;
}
.blog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-data {
  padding: 1%;
}
.blog {
  padding: 1%;
  margin: 0 2%;
}
.blogSnips {
  padding: 1%;
  width: 100%;
}
.blog-data img {
  width: 50%;
  height: auto;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 3% 0;
}
.blog-header h2 {
  font-weight: 400;
  font-size: 20px;
  color: #666;
  font-style: italic;
}
.blog-header h1 {
  text-decoration: capitalize;
  color: red;
}
nav {
  border-bottom: 1px solid #666;
}
nav h1 {
  font-weight: 1000;
  font-size: 50px;
  padding: 2% 5%;
  display: flex;
  align-items: center;
  font-style: italic;
  /* justify-content: center; */
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
}

.footer-content p {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
    padding: 2%;
  }
  .blog-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .blog {
  width: 100%;
  padding: 2%;
}
}
